#game-view {
    background-color: #DCE5DB;

    min-height: 620px;
    max-height: 1080px;
    max-width: 100vw;
    position: relative;
}

#game-view .header {
    min-height: 70px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#game-view .header .images {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

#game-view .header .images img {
    border-radius: 5px;
}

#game-view .art-container {
    overflow: hidden;
    max-height: 620px;
    position:relative;
}


#game-view .art {
    position:relative;
    display: block;

    margin: 0 auto;
    
}

#game-view .clicked {
    position: absolute;
    border: 3px solid rgb(0, 127, 247);
    border-style: dashed;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.521);
    transform: translate(-52%,-52%) rotate(120deg);
    opacity: 0;
    transition: transform 0.2s, opacity 0.15s, width 0.15s, height 0.15s;
}

#game-view .clicked.visible {
    transform: translate(-52%,-52%) rotate(360deg);
    opacity: 1;
    transition: transform 0.2s, opacity 0.15s, width 0.15s, height 0.15s;
}

#game-view .clicked-menu {
    position: absolute;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    background-color: #DCE5DB;
    border-radius: 10px;
    padding: 5px;
    margin-top: -50px;
    opacity: 0;
    transition: opacity 0.2s, width 0s 0.2s, height 0s 0.2s;
}

#game-view .clicked-menu.visible {
    opacity: 1;
    transition: opacity 0.2s;
}


#game-view .clicked-menu .images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 7px;
    padding: 4px;
}

#game-view .images .frame {
    border-radius: 5px;
    max-width: 50px;
    max-height: 80px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    outline: none;
}

#game-view .images .frame .icon-check-circle:not(.hidden) {
    position: absolute;
    top: 25px;
    width: 35px;
    filter: invert(48%) sepia(89%) saturate(1909%) hue-rotate(86deg) brightness(128%) contrast(106%)
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.637))
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.637));
    opacity: 1;
    transition: opacity 0.15s 0.3s;
    animation: 0.4s fade-in 0.3s;
}

#game-view .images .frame .icon-check-circle.hidden {
    top: -25px;
    width: 0;
    opacity: 0;
}

#game-view .images .frame.found {
    outline: 4px solid rgb(21, 180, 0);
    transition: 0.2s 0.2s;
}

#game-view .clicked-menu .images .frame:not(.found) {
    transition: transform 0.10s;
}

#game-view .clicked-menu .images .frame:not(.found):hover {
    border-radius: 2px;
    outline: 2px solid rgb(174, 0, 197);
    box-shadow: 0 0 5px black;
    transform: scale(120%);
    z-index: 2;
    transition: transform 0.10s;
}
#game-view .clicked-menu .images .frame.found:hover {
    outline: 4px solid rgb(21, 180, 0);
    box-shadow: none;
}

#game-view .clicked-menu .images .frame:active {
    border: 1px solid #000;
}

@keyframes fade-in {
    0% {
        transform: scale(250%);
    }
    50% {
        transform: scale(80%);
    }
    100% {
        transform: scale(100%);
    }
  }