#leaderboard-view {
    background-color: #DCE5DB;
    min-height: 620px;
    max-height: calc(100vh - 90px);
    max-width: 100vw;
    position: relative;
    display: grid;
    grid-template-rows: minmax(720px, 1fr)
}
#leaderboard-view .header {
    min-height: 100px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

#leaderboard-view .info-window {
    border: 1px solid #797979;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min(calc(90% - 40px), 600px);
    max-width: 600px;
    max-height: 600px;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 50%;
    background-color: #D9EDD2;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    z-index: 2;
    padding: 20px;
    transform: translate(-50%, 0) scale(0.1);
    opacity: 0;
    animation: 0.4s grow-shrink 0.1s forwards;
    transform-origin: left;
}

#leaderboard-view .info-window .title-1 {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: 600;
    color: rgb(118, 255, 248);
    text-shadow:
        0.11em 0 black,
        0 0.11em black,
        -0.11em 0 black,
        0 -0.11em black,
        1.5px 1.5px 3px rgb(0, 0, 0);
    letter-spacing: 0.03em;
}

#leaderboard-view .info-window .title-2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

#leaderboard-view .info-window li {
    margin-top: 20px;
}


#leaderboard-view .button-container {
    display: flex;
    justify-content: center;
    width: min(100%, 300px);
    gap: 2vw;
    margin-top: 40px;
}

#leaderboard-view .art-container {
    z-index: 1;
    overflow: hidden;
}

#leaderboard-view .art {
    filter: blur(10px);
}


#leaderboard-view .table-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    font-weight: 700;
    padding-bottom: 10px;
}

#leaderboard-view .table-header .rank {
    padding-left: 7px;
    min-width: 18px;
    width: 19px;
}
#leaderboard-view .table-header .name {
    
    width: 40%;
    margin-left: 0;
    padding-left: 5px;
    text-align: left;
}
#leaderboard-view .table-header .time {
    
    width: 28%;    
    padding-right: 5px;
    text-align: right;
}
#leaderboard-view .table-header .date {
    
    width: 30%;    
    margin-left: 0;
    padding-right: 10px;
    text-align: right;
}

#leaderboard-view .table-container {
    width: 100%;
    min-height: 400px;
    overflow: auto;
}

#leaderboard-view .table-container .table .rank {
    min-width: 10px;
}
#leaderboard-view .table-container .table .name {
    text-align: left;
    min-width: 100px;
    width: 39%;
}
#leaderboard-view .table-container .table .time {
    width: 30%;
    text-align: right;
}
#leaderboard-view .table-container .table .date {
    width: 30.5%;
    text-align: right;
}

#leaderboard-view .table-container .table {
    border-collapse: collapse;
    table-layout: fixed;
}

#leaderboard-view .table-container tr:not(:last-child) {
    border-bottom: 1px solid #00000077;
}

#leaderboard-view .table-container .table-cell {
    padding: 8px;
    font-size: 14px;
    overflow: auto;
}
#leaderboard-view .table-container .table-cell.loading {
    text-align: center;
    border-bottom: none;
}


@media screen and (max-width: 480px) {
        #leaderboard-view .info-window {
        padding: 15px 5px;
        font-size: 14px;
    }
    #leaderboard-view .info-window li {
        margin-top: 10px;
    }
    #leaderboard-view .info-window .title-1 {
        font-size: 16px;
    }
    #leaderboard-view .table-container .table {
        font-size: 13px;
    }
    
}
@media screen and (max-width: 350px) {
    #leaderboard-view .table-header {
        font-size: 12px;
    }
    #leaderboard-view .info-window .title-1 {
        font-size: 14px;
    }
    #leaderboard-view .table-container .table-cell{
        font-size: 12px;
    }
}

@keyframes grow-shrink {
    0% {
        opacity: 1;
        transform: scale(0.8) translate(-50%, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2) translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, 0);
    }
  }