#post-game-view {
    background-color: #DCE5DB;

    min-height: 620px;
    max-height: 1080px;
    max-width: 100vw;
    position: relative;
}

#post-game-view .header {
    min-height: 70px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#post-game-view .header .images {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

#post-game-view .header .images img {
    border-radius: 5px;
}

#post-game-view .images .frame {
    border-radius: 5px;
    max-width: 50px;
    max-height: 80px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    outline: none;
}

#post-game-view .images .frame img {
    max-width: 50px;
    max-height: 80px;
}

#post-game-view .images .frame .icon-check-circle:not(.hidden) {
    position: absolute;
    top: 25px;
    width: 35px;
    filter: invert(48%) sepia(89%) saturate(1909%) hue-rotate(86deg) brightness(128%) contrast(106%)
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.637))
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.637));
}

#post-game-view .images .frame.found {
    outline: 4px solid rgb(21, 180, 0);
    transition: 0.2s 0.2s;

}
#post-game-view .info-window {
    border: 1px solid #797979;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min(calc(90% - 40px), 600px);
    max-width: 600px;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 140px;
    left: calc(50%);
    background-color: #D9EDD2;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    z-index: 2;
    padding: 20px;
    transform: translate(-50%, 0) scale(0.1);
    opacity: 0;
    animation: 0.4s grow-shrink 0.3s forwards;
    transform-origin: left;
}

.info-window .title-1 {
    font-style: italic;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.info-window .title-2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.info-window li {
    margin-top: 20px;
}

.info-window button.start-game {
    margin-top: 20px;
    outline: 1px solid rgba(0, 0, 0, 0.507);
    font-weight: 900;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #C2EFC1;
    color: rgb(36, 36, 36);
}

#post-game-view .art-container {
    max-height: 970px;
    z-index: 1;
    overflow: hidden;
}

#post-game-view .art {
    filter: blur(10px);
}

@keyframes grow-shrink {
    0% {
        opacity: 1;
        transform: scale(0.8) translate(-50%, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2) translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, 0);
    }
  }