#post-game-view {
    background-color: #DCE5DB;
    min-height: 620px;
    max-height: calc(100vh - 90px);
    max-width: 100vw;
    position: relative;
    display: grid;
    grid-template-rows: 100px minmax(620px, 1fr)
}

#post-game-view .header {
    min-height: 70px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#post-game-view .header .title {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    letter-spacing: 0.03em;
}

#post-game-view .header .images {
    display: flex;
    margin-left: 10px;
    gap: 10px;
}

#post-game-view .header .images img {
    border-radius: 5px;
    min-height: 80px;
}

#post-game-view .images .frame {
    border-radius: 5px;
    max-width: 50px;
    max-height: 80px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    outline: none;
}

#post-game-view .images .frame img {
    max-width: 50px;
    max-height: 80px;
}

#post-game-view .images .frame .icon-check-circle:not(.hidden) {
    position: absolute;
    width: 35px;
    filter: invert(48%) sepia(89%) saturate(1909%) hue-rotate(86deg) brightness(128%) contrast(106%)
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.637))
    drop-shadow(0 0 2px rgba(0, 0, 0, 0.637));
}

#post-game-view .images .frame.found {
    outline: 4px solid rgb(21, 180, 0);
    transition: 0.2s 0.2s;
}
#post-game-view .info-window {
    border: 1px solid #797979;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min(calc(90% - 40px), 600px);
    max-width: 600px;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 140px;
    left: calc(50%);
    background-color: #D9EDD2;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    z-index: 2;
    padding: 20px;
    transform: translate(-50%, 0) scale(0.1);
    opacity: 0;
    animation: 0.4s grow-shrink 0.1s forwards;
    transform-origin: left;
}

#post-game-view .info-window .title-1 {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: 600;
    color: rgb(118, 255, 248);
    text-shadow:
        0.11em 0 black,
        0 0.11em black,
        -0.11em 0 black,
        0 -0.11em black,
        1.5px 1.5px 0px rgb(0, 0, 0);
    letter-spacing: 0.03em;
}

#post-game-view .info-window .title-2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

#post-game-view .info-window li {
    margin-top: 20px;
}

#post-game-view button {
    outline: 1px solid rgba(0, 0, 0, 0.507);
    font-weight: 900;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #C2EFC1;
    color: rgb(36, 36, 36);
}

#post-game-view button:focus {
    outline: 2px solid rgba(0, 0, 0, 0.555);
}

#post-game-view button:hover {
    outline: 2px solid rgba(0, 0, 0, 0.555);
}

#post-game-view button.submit {
    margin-top: 10px;
}

#post-game-view button.show-leaderboard {
    margin-top: 50px;
}

#post-game-view .button-container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    width: min(100%, 300px);
    gap: 2vw;
}

#post-game-view .art-container {
    max-height: 970px;
    z-index: 1;
    overflow: hidden;
}

#post-game-view .art {
    filter: blur(10px);
}

#post-game-view .input-title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}

#post-game-view input.name-field {
    margin-top: 10px;

}

#post-game-view .optional {
    margin-top: 5px;
    font-weight: 300;
    font-size: 15px;
}

#post-game-view .info-window form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-game-view .submitted-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

#post-game-view .submitted-container .icon-check-circle {
    width: 25px;
    filter: invert(48%) sepia(89%) saturate(1909%) hue-rotate(86deg) brightness(128%) contrast(106%)
    drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.637))
    drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.637))
    drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.637))
    drop-shadow(0 0 0.5px rgba(0, 0, 0, 0.637));
    margin-left: 5px;
}


@keyframes grow-shrink {
    0% {
        opacity: 1;
        transform: scale(0.8) translate(-50%, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2) translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, 0);
    }
  }