#pre-game-view {
    background-color: #DCE5DB;
    min-height: 620px;
    max-height: calc(100vh - 90px);
    max-width: 100vw;
    position: relative;
    display: grid;
    grid-template-rows: 100px minmax(620px, 1fr)
}
#pre-game-view .header {
    min-height: 70px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
        
}

#pre-game-view .header .title {

    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    letter-spacing: 0.03em;
}

#pre-game-view .header .frames {
    display: flex;
    margin-left: 10px;
    gap: 10px;
}

#pre-game-view .header .frame {
    border-radius: 5px;
    max-width: 50px;
    min-width: 50px;
    max-height: 80px;
    min-height: 80px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    outline: none;
    background-color: #82B264;
    color: white;
    font-size: 45px;
    align-items: center;
    font-weight: 500;

}

#pre-game-view .info-window {
    border: 1px solid #797979;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min(calc(90% - 40px), 600px);
    max-width: 600px;
    align-self: center;
    justify-content: center;
    position: absolute;
    top: 140px;
    left: 50%;
    background-color: #D9EDD2;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    z-index: 2;
    padding: 20px;
    transform: translate(-50%, 0) scale(0.1);
    opacity: 0;
    animation: 0.4s grow-shrink 0.1s forwards;
    transform-origin: left;
}

#pre-game-view .info-window .title-1 {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px;
    font-weight: 600;
    color: rgb(118, 255, 248);
    text-shadow:
        0.11em 0 black,
        0 0.11em black,
        -0.11em 0 black,
        0 -0.11em black,
        1.5px 1.5px 0px rgb(0, 0, 0);
    letter-spacing: 0.03em;
}

#pre-game-view .info-window .title-2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

#pre-game-view .info-window li {
    margin-top: 20px;
}

#pre-game-view .info-window button {
    margin-top: 20px;
    outline: 1px solid rgba(0, 0, 0, 0.507);
    font-weight: 900;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #C2EFC1;
    color: rgb(36, 36, 36);
}

#pre-game-view .info-window button:focus {
    outline: 2px solid rgba(0, 0, 0, 0.555);
}
#pre-game-view .info-window button:hover {
    outline: 2px solid rgba(0, 0, 0, 0.555);
}

#pre-game-view .button-container {
    display: flex;
    justify-content: center;
    width: min(100%, 300px);
    gap: 2vw;
}

#pre-game-view .art-container {
    min-height: 620px;
    max-height: 100%;
    z-index: 1;
    overflow: hidden;
}

#pre-game-view .art {
    filter: blur(10px);
}

@media screen and (max-width: 480px) {
    #pre-game-view .header .frame { 
        max-width: 35px;
        min-width: 35px;
        max-height: 56px;
        min-height: 56px;
    }
    #pre-game-view .info-window {
        padding: 15px 5px;
        font-size: 14px;
    }
    #pre-game-view .info-window li {
        margin-top: 10px;
    }
    
}

@keyframes grow-shrink {
    0% {
        opacity: 1;
        transform: scale(0.8) translate(-50%, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2) translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, 0);
    }
  }